.App {
  text-align: center;
}

.app-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  color: white;
  padding: 8px;
  margin: 8px;
  align-items: center;
}

.dropdownList {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  padding: 8px;
  margin: 8px;
  align-items: center;
  justify-content: center;
}

.dropdownList-hide {
  display: none;
  visibility: hidden;
}

.select-dropdown {
  font-size: 1rem;
}

.dashed-line-boarder {
  padding: 8px 0px 0px 0px;
  margin: 8px;
  border-top: 3px dashed #000000;
}

.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
  padding: 8px;
  margin: 8px;
}

.pagination-hide {
  display: none;
  visibility: hidden;
}

.search-input {
  padding: 8px;
  margin: 8px;
  border: 1px solid black
}

.search {
  padding: 8px;
  margin: 8px;
}

.button {
  display: inline-block;
  padding: 8px;
  margin: 8px;
  border: 1px solid black;
  cursor: pointer;
}

.search-display {
  padding: 8px;
  margin: 8px;
}

.error-msg {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(255, 0, 0);
  padding: 8px;
  margin: 8px;
  align-items: center;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  margin: 8px;
}

.loading-hide {
  display: none;
  visibility: hidden;
}

.loading-logo {
  height: 15vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .loading-logo {
    animation: loading-logo-spin infinite 1s linear;
  }
}

@keyframes loading-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}